@import "_variables.scss";
.text-effect {
  background-image: url("./media/background.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  transition: all 2s;
}
.text-effect:hover {
  transform: skew(0deg, -10deg) rotate(-720deg);
  font-size: 12rem;
  letter-spacing: 2rem;
}
