@import "_variables.scss";
.text-effect {
  background-image: url("./media/background.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  transition: all 0.3s;
}
.text-effect:hover {
  transform: skew(0deg, -10deg);
  letter-spacing: 3rem;
}
