html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$colors: (
  red: #ff3700,
  blue: #007efc,
  green: #0cc702,
  white: #fff,
  black: #000,
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
